OPENAI_API_KEY=
LANGSMITH_API_KEY=
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
LANGSMITH_PROJECT=
LANGSMITH_TRACING=true
GOOGLE_CREDENTIALS_FILE=credentials.json
GOOGLE_TOKEN_FILE=token.json
OPENAI_API_KEY=your_openai_api_key_here